=link_to '出品する', new_item_path
.user_page
  .user_page-top
    .user_info_top
      .user_name
        =fa_icon 'circle', class: 'circle_icon'
        %label
          ="#{@user.nickname}"
      =render 'relationships/follow_btn', user: @user
    .user_info_bottom
      %label フォロー
      .followings
        = "#{@user.followings.count}"
      %label フォロワー
      .followers
        = "#{@user.followers.count}"
  .user_page-bottom
    %p.heading 主催するイベント
    =render 'events/event_list', events: @events
  .item_info
    .border
    %p.heading 出品中の商品
    .item_list
      -@items.each do |item|
        .item
          .item_image
            = image_tag item.image_url, size: "220x210"
          .title
            =item.title
          .price
            %label ¥
            =item.price
          =link_to '', item_path(item), class: 'show-btn'