.show_event_wrapper
  .show_event
    =image_tag @event.image_url, width: '600px', height: '300px', class: 'event_image'
    %h3.event_title
      =@event.title
    %p.event_discription
      =@event.discription
    %table.event_info
      %tr
        %td.left 主催者
        %td.right 
          = link_to "#{@event.user.nickname}", user_path(@event.user.id)
      %tr
        %td.left 開催日
        %td.right 
          = "#{@event.date}"
      %tr
        %td.left 開催場所
        %td.right 
          = "#{@event.place}"
    -if user_signed_in?
      =link_to 'チャットする', event_messages_path(@event), class: 'chat_btn'
    - else
      =link_to 'チャットする', new_user_registration_path, class: 'chat_btn'
-if user_signed_in? && @event.user == current_user
  =link_to '編集する', edit_event_path(@event), class: 'edit-btn'
  =link_to '削除する', event_path(@event), method: :delete, class: 'destroy-btn'